<body style="margin: 0%; padding: 0%; box-sizing: border-box;">
    <main>
        <img src="cid:unique2@image" alt="" style="width: 100%; height: 100px; object-fit: cover;">
        <div
            style="text-align: center; font-family: Arial, Helvetica, sans-serif; max-width: 820px; margin: auto; padding: 20px; padding-bottom: 50px;">
            <img src="cid:unique@image" alt="" style="width: 230px; margin-top: 50px;">
            <p class="head" style="font-size: 26px; font-weight: 700; margin-top: 30px;">Hello there,<br>Get started on Noosphere
            </p>
            <p style="color: #475467; font-size: 18px; margin-top: 20px; margin-bottom: 50px;">You have been invited by
                NooSphere Admin to<br> create a profile on Noosphere<br><br>Click the button below to get started</p>
            <a href='http://localhost:5173/admin/onboarding/{{email}}/{{adminId}}' style="background-color: black; text-align: center; border-radius: 9999px; padding-top: 20px; padding-bottom: 20px; color: white; text-decoration: none; font-weight: 600; font-size: 18px; width: 90%; display: block; margin: auto;">Create Profile</a>
        </div>
    </main>
</body>